{{!-- PHASE 1 --}}
<div class="phase1">
<h2>Phase 1:</h2>
{{#each infoP1}}
<div class="row">
<div class="col-md-10">
			<div class="text-center">
			<p class="aptname">
			Apt: {{apt}} Bedrooms: {{bedrooms}} Bathrooms: {{bathrooms}} Needs:
				<button type="button" class="btn btn-primary " onclick="addCleaning({{@index}})">Clear Out</button>
				<button type="button" class="btn btn-primary " onclick="addPaint({{@index}})">Paint</button>
				<button type="button" class="btn btn-primary " onclick="addMaintenance({{@index}})">Maintenence</button>
				<button type="button" class="btn btn-primary " onclick="addCleaning({{@index}})">Cleaning</button>
				</p>
			</div>
</div>
</div>
{{/each}}
</div>

{{!-- PHASE 2 --}}
<div class="phase2">
<h2>Phase 2:</h2>
{{#each infoP2}}
<div class="row">
<div class="col-md-10">
			<div class="text-center">
			<p class="aptname">
			Apt: {{apt}} Bedrooms: {{bedrooms}} Bathrooms: {{bathrooms}} Needs:
				<button type="button" class="btn btn-primary " onclick="addCleaning({{@index}})">Clear Out</button>
				<button type="button" class="btn btn-primary " onclick="addPaint({{@index}})">Paint</button>
				<button type="button" class="btn btn-primary " onclick="addMaintenance({{@index}})">Maintenence</button>
				<button type="button" class="btn btn-primary " onclick="addCleaning({{@index}})">Cleaning</button>
				</p>
			</div>
</div>
</div>
{{/each}}
</div>

{{!-- PHASE 3 --}}
<div class="phase3">
<h2>Phase 3:</h2>
{{#each infoP3}}
<div class="row">
<div class="col-md-10">
			<div class="text-center">
			<p class="aptname">
			Apt: {{apt}} Bedrooms: {{bedrooms}} Bathrooms: {{bathrooms}} Needs:
				<button type="button" class="btn btn-primary " onclick="addCleaning({{@index}})">Clear Out</button>
				<button type="button" class="btn btn-primary " onclick="addPaint({{@index}})">Paint</button>
				<button type="button" class="btn btn-primary " onclick="addMaintenance({{@index}})">Maintenence</button>
				<button type="button" class="btn btn-primary " onclick="addCleaning({{@index}})">Cleaning</button>
				</p>
			</div>
</div>
</div>
{{/each}}
</div>

{{!-- PHASE 4 --}}
<div class="phase4">
<h2>Phase 4:</h2>
{{#each infoP4}}
<div class="row">
<div class="col-md-10">
			<div class="text-center">
			<p class="aptname">
			Apt: {{apt}} Bedrooms: {{bedrooms}} Bathrooms: {{bathrooms}} Needs:
				<button type="button" class="btn btn-primary " onclick="addCleaning({{@index}})">Clear Out</button>
				<button type="button" class="btn btn-primary " onclick="addPaint({{@index}})">Paint</button>
				<button type="button" class="btn btn-primary " onclick="addMaintenance({{@index}})">Maintenence</button>
				<button type="button" class="btn btn-primary " onclick="addCleaning({{@index}})">Cleaning</button>
				</p>
			</div>
</div>
</div>
{{/each}}
</div>